/* Container styling */
.container {
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
  }
  
  /* Button styling */
  .btn {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .btn-info {
    background-color: #17a2b8;
    color: #fff;
  }
  
  .btn-info:hover {
    background-color: #138496;
  }
  
  .btn-danger {
    background-color: #dc3545;
    color: #fff;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
  }
  
  /* Heading styling */
  h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Table styling */
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .table-bordered {
    border: 1px solid #ddd;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
  }
  
  .table th,
  .table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .table th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: 600;
  }
  
  .table td {
    color: #666;
  }
  
  .table tbody tr:hover {
    background-color: #f1f1f1;
  }
  /* Styles pour la page de recherche */
.search-page-container {
  padding: 20px;
}

.search-bar {
  display: flex; /* Utilisez flexbox pour aligner les éléments */
  justify-content: center; /* Aligne la barre de recherche au centre */
  margin-bottom: 20px; /* Ajoute un espace en bas de la barre de recherche */
}

.search-bar .form-group {
  position: relative; /* Conteneur pour positionner l'icône de recherche */
  width: 100%; /* Prend toute la largeur disponible */
  max-width: 600px; /* Limite la largeur maximale de la barre de recherche */
}

.search-bar .form-control {
  width: 100%; /* Prend toute la largeur du conteneur */
  padding-right: 40px; /* Ajoute un padding pour l'icône de recherche */
  border-radius: 20px; /* Arrondir les coins de la barre de recherche */
  border: 1px solid #ced4da; /* Bordure de la barre de recherche */
  font-size: 16px; /* Taille de la police de la barre de recherche */
}

.search-bar .search-icon {
  position: absolute; /* Positionnez l'icône de recherche */
  right: 10px; /* Positionnez l'icône à droite */
  top: 50%; /* Centrer verticalement l'icône */
  transform: translateY(-50%); /* Ajustez le centrage vertical */
  color: #6c757d; /* Couleur de l'icône */
  font-size: 20px; /* Taille de l'icône */
  pointer-events: none; /* L'icône ne bloque pas les clics */
}

.table {
  margin-top: 20px;
}

.table th, .table td {
  text-align: center; /* Centre le texte dans les cellules */
}
