.LoadingSpinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.PaginatorRow {
  background: #333;
  color: #fff
}

.Paginator {
  display: flex;
  gap: 16px;
}

.PaginatorButton {
  cursor: pointer;
}