/* src/components/Menu.css */

.menu {
  position: fixed; /* Fixe le menu en haut de la page */
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between; /* Aligne le titre à gauche et les boutons à droite */
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  z-index: 1000; /* Assure que le menu est au-dessus des autres éléments */
}

.menu-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.menu-buttons {
  display: flex;
  gap: 10px; /* Espace entre les boutons */
}

.menu-button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu-button:hover {
  background-color: #0056b3;
}





/* src/components/Footer.css */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000; 
}


body {
  margin-bottom: 3rem; 

}

