/* src/components/CardDataStats.css */

/* Styles pour les boutons */
.button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}

/* Styles pour les modales */
.description-modal, .form-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 80%;
  max-width: 600px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #dc3545;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.close-button:hover {
  background: #c82333;
}

/* Espacement entre les boutons */
.buttons-container {
  display: flex;
  gap: 1rem; /* Ajustez l'espacement selon vos besoins */
}

.corps {
  width: 100%;
  height: 100%; 
  background-image: url('../../images/user/th2.jfif'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}
